.page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-content: start;
  min-height: 100vh;
}

@media screen and (min-width: 68rem) {
  .page {
    display: grid;
    flex-direction: initial;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
  }
}

.page-main {
  display: flex;
  flex-direction: column;
  gap: 64px;
  grid-area: main;
  padding-bottom: 24px;
  flex: 1 1 auto;
}

.page-header,
.page-footer {
  flex: 0 0 auto;
  padding-block: 24px;
}

.page-aside {
  grid-area: aside;
}

.page-aside nav {
  display: grid;
  gap: 0.25em;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
  justify-content: end;
  font-size: 0.75rem;
  grid-area: footer;
}

.page-footer,
.page-footer a {
  color: var(--color-text-muted);
}

.page-footer a {
  white-space: nowrap;
}

.page-main-content {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.page-header,
.page-aside,
.page-main-intro,
.page-footer {
  padding-inline: var(--page-spacing);
}

@media screen and (min-width: 68rem) {
  .page-main-intro {
    padding-inline: 0;
  }
}
