:root {
  --color-text: hwb(60 9% 88%);
  --color-text-muted: hwb(60 55% 41%);
  --color-links: hwb(240 0% 0%);
  --color-page-background: hwb(47 90% 7%);
  --font-size-h1: clamp(2.125rem, 5vw, 4rem);
  --font-size-h2: 1.25rem;

  --page-spacing: 12px;

  --image-min-size: 240px;
  --image-max-size: 640px;
  --image-gutter: 24px;
}

@media screen and (min-width: 68rem) {
  :root {
    --image-gutter: 24px;
    --page-spacing: 24px;
    --font-size-h2: 1.75rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: hwb(47 93% 0%);
    --color-text-muted: hwb(51 46% 51%);
    --color-links: hwb(216 37% 0%);
    --color-page-background: hwb(60 14% 84%);
  }
}
