<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="icon"
    type="image/png"
    sizes="180x180"
    href="/favicon-180x180.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="64x64"
    href="/favicon-64x64.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/favicon-32x32.png"
  />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="theme-color" content="hwb(47 90% 7%)" />
  <meta
    name="theme-color"
    content="hwb(60 14% 84%)"
    media="(prefers-color-scheme: dark)"
  />
  <title>{{ title if title else site.title  }}</title>

  <link rel="stylesheet" href="/static/css/styles.css" />

  {% block head %} {% endblock %}
</head>
