<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="icon"
    type="image/png"
    sizes="64x64"
    href="/static/icon/favicon-64x64.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/static/icon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/static/icon/favicon-16x16.png"
  />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="theme-color" content="hwb(47 90% 7%)" />
  <meta
    name="theme-color"
    content="hwb(60 14% 84%)"
    media="(prefers-color-scheme: dark)"
  />
  <title>{{ title }}</title>

  <link rel="stylesheet" href="/static/css/base/reset.css" />
  <link rel="stylesheet" href="/static/css/base/tokens.css" />
  <link rel="stylesheet" href="/static/css/base/base.css" />
  <link rel="stylesheet" href="/static/css/base/layout.css" />
  <link rel="stylesheet" href="/static/css/components/pauls-site-header.css" />
  <link rel="stylesheet" href="/static/css/components/pauls-photo-article.css" />
  <link rel="stylesheet" href="/static/css/components/pauls-framed-image.css" />
  <link rel="stylesheet" href="/static/css/components/pauls-slider.css" />
  <link rel="stylesheet" href="/static/css/components/pauls-pagination.css" />

  {% if page.url === '/' %}
  <link rel="stylesheet" href="/static/css/pages/page-home.css" />
  {% endif %}

  <script defer src="/static/web_modules/container-query-polyfill/cqfill.iife.min.js"></script>

  {% block head %} {% endblock %}
</head>
