<header data-component="pauls-site-header" data-id="page-header" class="page-header">
  <nav>
    {%- for item in site.nav -%}
      {% set currentPage = item.href in page.url %}

      {% if currentPage == false or item.isHome %}
      <a
        {% if currentPage %}
        aria-current="page"
        {% endif %}
        href="{{ item.href }}"
        class="{% if item.isHome %}logo{% endif %}"
      >
        {{- item.title -}}
      </a>
      {% endif %}
    {%- endfor -%}
  </nav>
</header>
