<nav data-component="pauls-pagination" aria-label="Pagination">
  <ol>
    {%- for pageEntry in pagination.pages %}
      <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Seite {{ loop.index }}</a></li>
    {%- endfor %}
  </ol>
</nav>
