{% from 'photos-framed-image.njk' import framedImage %}
{% from 'photos-image-slider.njk' import imageSlider %}

{% macro article (date, images) %}

{# START Variables #}
{% set id = date | replace('-', '') %}
{% set title = date | replace('-', '/') %}
{% set framedImagesHTML %}
  {% for image in images %}
      {{ framedImage(image.url, alt=image.alt, caption=image.caption, id=[id, loop.index] | join('-')) }}
    {% endfor %}
{% endset %}
{# END Variables #}

{# START Template #}
<article class="article">
  <header>
    <h2 id="{{ id }}">
      <time datetime="{{ date }}">{{ title}}</time>
    </h2>
  </header>
  <main>

  {% if images.length > 4 %}
    {{ imageSlider(framedImagesHTML) }}
  {% else %}
    <div class="grid">
      {{ framedImagesHTML | safe }}
    </div>
  {% endif %}

  </main>
</article>
{# END Template #}

{% endmacro %}
