{% from 'photos-framed-image.njk' import framedImage %}
{% from 'photos-image-slider.njk' import imageSlider %}

{% macro article (date, images) %}

{# START Variables #}
{% set maxNumberImages = 4 %}
{% set id = date | replace('-', '') %}
{% set title = date | formatLocaleDate %}
{% set showGrid = images.length === 1 or ((images.length % 2) === 0 and images.length <= maxNumberImages) %}
{% set framedImagesHTML %}
  {% for image in images %}
      {{ framedImage(image.url, alt=image.alt, caption=image.caption, id=image.id) }}
    {% endfor %}
{% endset %}
{# END Variables #}

{# START Template #}
<article class="article">
  <header>
    <h2 id="{{ id }}">
      <time datetime="{{ date }}">{{ title }}</time>
    </h2>
  </header>
  <main class="{% if showGrid %}grid{% endif %}">

  {% if showGrid %}
    {{ framedImagesHTML | safe }}
  {% else %}
    {{ imageSlider(framedImagesHTML) }}
  {% endif %}

  </main>
</article>
{# END Template #}

{% endmacro %}
