---
layout: base
title: "Pauls Fotoalbum voller alltäglicher Szenen und Geschichten | Paul Borm"
pagination:
  data: photos
  size: 7
bodyClass: ["page--photo"]
changeFreq: "weekly"
---

{% from 'photos-article.njk' import article %}

<section class="page-main-intro">
  <h1>
    Alltägliche Szenen fotografiert und hier im Album abgelegt.
  </h1>
</section>

<section class="page-main-content">
  {% for datetime, photos in pagination.items %}
    {{ article(datetime, photos) }}
  {% endfor %}

  {% if pagination.pages | length > 1 %}
    {% include "pagination.njk" %}
  {% endif %}
</section>
