---
layout: base
bodyClass: ["page--home"]
tags: ["nav"]
---

{% from 'photos-framed-image.njk' import framedImage %}

<section class="page-main-content">

  {% set randomItem = photos | random %}
  {% set randomItemImage = randomItem[1] | random %}
  {% set randomItemTitle = randomItem[0] | formatLocaleDate %}
  {% set caption = ["Random picture taken on", randomItemTitle].join(" ") %}

  <a href="/photos/" title="Go to see all photos" style="text-decoration: none">
    {# Note: This gets replaced by cloudflare workers in the prod response  #}
    {{ framedImage (randomItemImage.url, caption=caption, class='', dataID='pauls-random-image') }}
  </a>
</section>
